<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My WebSite</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <% if (typeof token !== 'undefined') { %>
            <a href="/auth/profil">Profil</a>
            <form action="/user/logout" method="post">
                <button type="submit">Signout</button>
            </form>
        <% } else { %>
            <a href="/auth/signup">Signup</a>
            <a href="/auth/signin">Signin</a>
        <% } %>
    </header>